<body>
  <h1>Contactate con nosotros</h1>
  <p>Si el producto que buscas no está en la lista o tenes alguna duda al respecto, comunicate con nosotros
    por estos canales.
  </p>
  <p>Tu consulta es bienvenida.</p>
  <ul>
      <li><img src="../../assets/img/logotipo-de-instagram.png">
        <a href="https://www.instagram.com/farmacia.sanmaron/" target="_blank">San Maron</a>
      </li>
      <li>
        <img src="../../assets/img/pngegg.png">
        <a href="https://api.whatsapp.com/send?phone=543816151809" target="_blank">Envíanos un Whatsapp</a>
      </li>
      <li>
        <img src="../../assets/img/mailicon.png">
        <a href="mailto:fsanmaron@gmail.com" target="_blank">Escribinos</a>
      </li>
      <li>
        <img src="../../assets/img/—Pngtree—map icon_4761955.png">
        <a href="https://maps.app.goo.gl/P5ctWxahS5RSe3Sx5" target="_blank">Visitanos</a>
      </li>
  </ul>
</body>

